* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
body {
  text-align: center;
  width: 100%;
  height: 100%;
}
.game {
  min-height: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url(../images/background.png) center/cover;
}
.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 4px solid;
  font-size: 24px;
  transition: transform 0.1s ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 20%;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  font-size: 4vw;
  margin-top: 8px;
  border-radius: 15px;
  visibility: hidden;
}

.game__score {
  margin-top: 8px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
  font-size: 32px;
  line-height: 50px;
  background-color: darksalmon;
  border-radius: 50%;
  text-align: center;
  color: white;
  visibility: hidden;
}

.game__field {
  width: 100%;
  height: 100%;
  position: relative;
  /* TODO: 당근 */
  margin-top: 40px;

  /* background-color: red; */
}

.pop-up {
  margin: auto;
  width: 40vw;
  height: 14vh;
  padding: 20px;
  background-color: #00000099;
  color: white;
  text-align: center;
  transform: translateY(-150%);
  border-radius: 20px;
}
.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: 2vw;
}

.bug,
.carrot {
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.bug:hover,
.carrot:hover {
  transform: scale(1.1);
}
