* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}
.line {
  position: absolute;
  background-color: wheat;
}

.horizontal {
  width: 100%;
  height: 1px;
}
.vertical {
  height: 100%;
  width: 1px;
}
.target {
  position: absolute;
}
.tag {
  color: white;
  position: absolute;
  font-size: 38px;
  margin: 20px;
}
